<div class="input-group">
	<div class="input-group-btn">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Search in Groups <span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li class="dropdown-header">Select groups</li>
			<li ng-hide="groups">Loading</li>
			<li ng-repeat="group in groups">
				<a ng-click="group.filter = !group.filter" href="javascript:void(0)"><i class="fa fa-fw" ng-class="{'fa-check-square-o': group.filter, 'fa-square-o': !group.filter}"></i> {{group.name}}</a>
			</li>
		</ul>
	</div><!-- /btn-group -->


	<input id="facebookSearch" type="text" ng-model="selectedFriend" typeahead="friend as friend.name for friend in searchFriend($viewValue) | filter:$viewValue" typeahead-template-url="templates/TypeAheadFriend.html" typeahead-loading="searchingFriend" typeahead-wait-ms="100" typeahead-on-select="onSelect($item, $model, $label)" class="form-control">
	
	<span class="input-group-addon" ng-show="searchingFriend"><i class="fa fa-refresh fa-spin"></i></span>
</div>