<div class="input-group">
	<div class="input-group-btn">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Search in Groups <span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li ng-hide="groups">Loading</li>
			<li ng-repeat="group in groups"><input id="c{{group.gid}}" name="{{group.name}}" value="{{group.gid}}" type="checkbox" checked="checked" ng-model="group.filter"><label for="c{{group.gid}}"> {{group.name}}</label></li>
		</ul>
	</div><!-- /btn-group -->

	<i ng-show="searchingFriend" class="fa fa-refresh"></i>

	<input id="facebookSearch" type="text" placeholder="Search.." ng-model="selectedFriend" typeahead="friend as friend.name for friend in searchFriend($viewValue) | filter:$viewValue" typeahead-template-url="templates/TypeAheadFriend.html" typeahead-loading="searchingFriend" typeahead-wait-ms="100" typeahead-on-select="onSelect($item, $model, $label)" class="form-control">
	
</div>