<div class="panel panel-default">
	<div class="panel-heading">
		<i class="fa fa-tasks fa-fw"></i> Matches
	</div>
	<div class="panel-body">
		<div class="text-center">
			<pagination total-items="stats.league.rounds.length" items-per-page="1" page="currPage" max-size="3" class="pagination-sm" boundary-links="true"></pagination>
		</div>

		<div class="list-group">
			<div ng-class="{active: match.currentUserMatch()}" class="list-group-item" ng-repeat="match in stats.league.rounds[currPage - 1].matches">
				<span class="small"><fb-avatar size="24" id="match.home.id"></fb-avatar> <span class="home">{{match.home.name}}</span></span>
				<span class="text-center">{{match.result.home}} - {{match.result.away}}</span>
				<span class="pull-right small"><span class="away">{{match.away.name}}</span> <fb-avatar size="24" id="match.away.id"></fb-avatar></span>
			</div>
		</div>

		<a class="btn btn-default btn-block" ng-click="currPage = stats.currentRound">Current round: {{stats.currentRound}}</a>
	</div>
</div>
