<div class="panel panel-default">
	<div class="panel-heading">
		<i class="fa fa-tasks fa-fw"></i> Matches
	</div>
	<div class="panel-body">
		<div class="text-center">
			<pagination total-items="stats.season.rounds.length" items-per-page="1" page="currPage" max-size="3" class="pagination-sm hidden-xs-inline" boundary-links="true"></pagination>
			<pagination total-items="stats.season.rounds.length" items-per-page="1" page="currPage" max-size="3" class="visible-xs-inline" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
		</div>

		<div class="list-group">
			<div class="list-group-item" ng-repeat="match in stats.season.rounds[currPage - 1].matches">
				<p class="clearfix home" ng-class="{'list-group-item-info': match.home.id == $root.auth.user.id}">
					<span class="small"><fb-avatar size="24" id="match.home.id" clazz="pull-left"></fb-avatar> <span class="player-name pull-left">{{match.home.name}}</span></span>
					<span class="score text-center pull-right">{{match.result.home}}</span>
				</p>
				<p class="clearfix away" ng-class="{'list-group-item-info': match.away.id == $root.auth.user.id}">
					<span class="score text-center">{{match.result.away}}</span>
					<span class="small">
						<fb-avatar size="24" id="match.away.id" clazz="pull-right"></fb-avatar> <span class="player-name pull-right">{{match.away.name}}</span>
					</span>
				</p>

				<div class="buttons" ng-if="match.canEdit() || match.isOverdue(stats.currentRound)">
					<button ng-if="match.canEdit()" class="btn btn-xs btn-link" ng-click="match.edit()"><i class="fa fa-fw fa-edit"></i>Edit</button>
					<span ng-if="match.isOverdue(stats.currentRound)" class="label label-danger pull-right">Overdue</span>
				</div>
			</div>
		</div>
		<a ng-class="{disabled: currPage == stats.currentRound}" class="btn btn-default btn-block" ng-click="currPage = stats.currentRound">Current round: {{stats.currentRound}}</a>
	</div>
</div>