<div class="panel panel-default">
	<div class="panel-heading">
		<i class="fa fa-bar-chart-o fa-fw"></i> Season Competition
	</div>
	<div class="panel-body table-responsive">
		<table class="table table-hover table-condensed competition-table">
			<thead>
				<tr>
					<th></th>
					<th>#</th>
					<th>Pt</th>
					<th>P</th>
					<th>VS</th>
					<th>R</th>
					<th colspan="3">Score</th>
					<th></th>
				</tr>
			</thead>
			<tbody ng-init="playerStats = stats.teamStats[player]">
				<tr ng-repeat="round in stats.season.rounds" ng-init="playerMatch = (round.matches | filter:player); playing = playerMatch.length; match = playerMatch[0]">
					<td><i tooltip="Current round" ng-if="stats.currentRound == $index + 1" class="fa fa-caret-right"></i></td>
					<td>{{$index + 1}}</td>
					<td ng-if="!playing" colspan="2"></td>
					<td ng-if="!playing" style="text-align: left; padding-left: 33px">No match this week</td>
					<td ng-if="!playing" colspan="4"></td>
					
					<td ng-if="playing">{{playerStats.ptsPerRound[$index] | isDefined: match.result }}</td>
					<td ng-if="playing" ng-class="{'blue-o': playerStats.posPerRound[$index] == 1 && match.result, 'red-o': playerStats.posPerRound[$index] == stats.season.teams.length && match.result}">{{playerStats.posPerRound[$index] | isDefined: match.result }}</td>
					<td ng-if="playing" style="text-align: left"><fb-avatar size="24" id="match.versus(player).id"></fb-avatar> {{match.versus(player).name}}</td>
					<td ng-if="playing" ng-class="{'red': match.conclude(player) == 'L', 'green': match.conclude(player) == 'W'}">{{match.conclude(player)}}</td>
					<td ng-if="playing">{{match.result.home}}</td>
					<td ng-if="playing"><span ng-if="match.result">-</span></td>
					<td ng-if="playing">{{match.result.away}}</td>

					<td>
						<button type="button" tooltip="Edit" ng-if="match.canEdit()" class="btn btn-xs btn-link" ng-click="match.edit()"><i class="fa fa-fw fa-edit"></i></button>
						<a tooltip="Show image" ng-if="match.hasImages()" class="btn btn-xs text-info" ng-click="match.showImages()"><i class="fa fa-fw fa-picture-o"></i></a>
						<i tooltip="Overdue" ng-if="match.isOverdue(stats.currentRound)" class="fa fa-fw fa-clock-o"></i>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>