@charset "UTF-8";
/* line 7, ../sass/partials/_fl-league.sass */
.season-stats .stats-match-preview {
  padding: 4px;
}
/* line 9, ../sass/partials/_fl-league.sass */
.season-stats .stats-match-preview .player {
  position: relative;
  margin-bottom: 2px;
}
/* line 13, ../sass/partials/_fl-league.sass */
.season-stats .stats-match-preview .player.winner {
  font-weight: bold;
}
/* line 15, ../sass/partials/_fl-league.sass */
.season-stats .stats-match-preview .score {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 4px;
  display: inline-block;
}
/* line 21, ../sass/partials/_fl-league.sass */
.season-stats .stats-match-preview .pull-right {
  padding-top: 2px;
}
/* line 23, ../sass/partials/_fl-league.sass */
.season-stats dl {
  margin-bottom: 0;
}
/* line 25, ../sass/partials/_fl-league.sass */
.season-stats dt {
  border-bottom: 1px silver solid;
  margin-top: 5px;
  margin-bottom: 3px;
}
/* line 29, ../sass/partials/_fl-league.sass */
.season-stats .progress-knob {
  margin: 0 auto;
}
/* line 32, ../sass/partials/_fl-league.sass */
.season-stats .progress-knob div {
  position: absolute;
}

/* line 39, ../sass/partials/_fl-league.sass */
.list-group-item .img-versus {
  margin: 0 5px;
}
/* line 42, ../sass/partials/_fl-league.sass */
.list-group-item .match-current-cursor {
  position: absolute;
  top: 16px;
  left: 7px;
}

/* line 50, ../sass/partials/_fl-league.sass */
.match-preview {
  position: relative;
  display: block;
  padding: 10px 15px;
}
/* line 55, ../sass/partials/_fl-league.sass */
.match-preview .home, .match-preview .away {
  position: relative;
  padding: 3px;
}
/* line 59, ../sass/partials/_fl-league.sass */
.match-preview .home .player-name, .match-preview .away .player-name {
  width: 34%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
  padding-top: 4px;
}
/* line 69, ../sass/partials/_fl-league.sass */
.match-preview .home .player-name {
  padding-left: 2px;
}
/* line 72, ../sass/partials/_fl-league.sass */
.match-preview .away .player-name {
  text-align: right;
  padding-right: 2px;
}
/* line 76, ../sass/partials/_fl-league.sass */
.match-preview .score {
  position: absolute;
  left: 0;
  right: 0;
  top: 5px;
  display: inline-block;
}
/* line 83, ../sass/partials/_fl-league.sass */
.match-preview .score.visible-xs-inline {
  bottom: 0;
}
/* line 86, ../sass/partials/_fl-league.sass */
.match-preview.active {
  background-color: whitesmoke;
}
/* line 89, ../sass/partials/_fl-league.sass */
.match-preview .buttons {
  padding-top: 4px;
  margin-top: 10px;
  border-top: 1px #eeeeee solid;
}
/* line 94, ../sass/partials/_fl-league.sass */
.match-preview .buttons .pull-right {
  margin-top: 3px;
}

/* line 98, ../sass/partials/_fl-league.sass */
.list-group-item.list-group-item-info .buttons {
  border-top: 1px #94bacc solid;
}

/* line 101, ../sass/partials/_fl-league.sass */
.pagination-sm > li > a {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}

/* line 108, ../sass/partials/_fl-league.sass */
.season-links {
  text-align: center;
  padding: 0;
  margin: 0;
}
/* line 113, ../sass/partials/_fl-league.sass */
.season-links li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
}
/* line 119, ../sass/partials/_fl-league.sass */
.season-links li a {
  color: black;
}
/* line 122, ../sass/partials/_fl-league.sass */
.season-links li .badge {
  position: absolute;
  bottom: 17px;
  right: -3px;
}

/* line 134, ../sass/partials/_fl-league.sass */
.table.latest-table .winner {
  font-weight: bold;
}

/* line 141, ../sass/partials/_fl-league.sass */
.table.fixtures-table tbody tr:first-child {
  border-bottom-color: #3291f8;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
/* line 145, ../sass/partials/_fl-league.sass */
.table.fixtures-table tbody tr:last-child {
  border-top-style: double;
  border-top-color: #e97373;
}
/* line 149, ../sass/partials/_fl-league.sass */
.table.fixtures-table .red {
  color: red;
}
/* line 152, ../sass/partials/_fl-league.sass */
.table.fixtures-table .green {
  color: green;
}

/* line 159, ../sass/partials/_fl-league.sass */
.table.competition-table th, .table.competition-table td {
  text-align: center;
}
/* line 161, ../sass/partials/_fl-league.sass */
.table.competition-table td:last-child {
  text-align: left;
}
/* line 162, ../sass/partials/_fl-league.sass */
.table.competition-table td:last-child .btn {
  padding: 0;
}
/* line 165, ../sass/partials/_fl-league.sass */
.table.competition-table .red-o {
  background-color: #e97373;
  color: white;
}
/* line 168, ../sass/partials/_fl-league.sass */
.table.competition-table .blue-o {
  background-color: #3291f8;
  color: white;
}
/* line 171, ../sass/partials/_fl-league.sass */
.table.competition-table .red {
  color: red;
}
/* line 174, ../sass/partials/_fl-league.sass */
.table.competition-table .green {
  color: green;
}

/* line 181, ../sass/partials/_fl-league.sass */
.match-modal .hidden-xs .vs {
  font-size: 150%;
}
/* line 184, ../sass/partials/_fl-league.sass */
.match-modal .hidden-xs input[type=number] {
  width: 75px;
  font-size: 230%;
}
/* line 188, ../sass/partials/_fl-league.sass */
.match-modal input[type=number] {
  width: 48px;
  font-size: 130%;
}
/* line 192, ../sass/partials/_fl-league.sass */
.match-modal .vs {
  line-height: 10;
}
/* line 195, ../sass/partials/_fl-league.sass */
.match-modal .thumbnail {
  display: inline;
}

/* line 203, ../sass/partials/_fl-league.sass */
.seasonEdit .players {
  border-radius: 5px;
  border: 2px dashed #868686;
  margin: 10px 10px 0 0;
  padding: 5px;
}
/* line 209, ../sass/partials/_fl-league.sass */
.seasonEdit .player {
  cursor: move;
  padding: 10px 15px;
}
/* line 213, ../sass/partials/_fl-league.sass */
.seasonEdit .player-placeholder {
  padding: 5px 15px;
  border: 4px dashed #cfcfcf;
  opacity: 0.8;
  text-align: center;
  vertical-align: middle;
}
/* line 220, ../sass/partials/_fl-league.sass */
.seasonEdit .player-placeholder:before {
  color: #cfcfcf;
  content: "DROP HERE";
}

/* line 229, ../sass/partials/_fl-league.sass */
.upload-photos .preview {
  float: left;
  margin-right: 10px;
}
/* line 233, ../sass/partials/_fl-league.sass */
.upload-photos #photosDropZone {
  padding: 35px 0;
  border: 5px dashed #e5e5e5;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: gray;
}
/* line 234, ../sass/partials/_fl-league.sass */
.upload-photos #photosDropZone:before {
  content: "DROP HERE";
}
/* line 237, ../sass/partials/_fl-league.sass */
.upload-photos #photosDropZone.initializing {
  opacity: 0.3;
}
/* line 238, ../sass/partials/_fl-league.sass */
.upload-photos #photosDropZone.initializing:before {
  content: "LOADING.. PLEASE WAIT";
}
/* line 251, ../sass/partials/_fl-league.sass */
.upload-photos #photosDropZone button {
  margin-top: 10px;
  text-transform: uppercase;
}
/* line 255, ../sass/partials/_fl-league.sass */
.upload-photos #photosDropZone input {
  display: none;
}

/* line 4, ../sass/partials/_fl-index.sass */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* line 7, ../sass/partials/_fl-index.sass */
.dropdown-toggle.dropdown-24 {
  padding: 13px 13px;
}

/* line 10, ../sass/partials/_fl-index.sass */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 15, ../sass/partials/_fl-index.sass */
.dashboard-big {
  position: absolute;
  width: 100%;
  padding: 15px;
}

/* line 20, ../sass/partials/_fl-index.sass */
.notifications {
  position: fixed;
  top: 80px;
  left: -3px;
  opacity: 0.8;
}
/* line 27, ../sass/partials/_fl-index.sass */
.notifications .alert.ng-enter, .notifications .alert.ng-leave {
  -webkit-transition: 250ms, cubic-bezier(0.42, 0, 1, 1), all;
  -moz-transition: 250ms, cubic-bezier(0.42, 0, 1, 1), all;
  -o-transition: 250ms, cubic-bezier(0.42, 0, 1, 1), all;
  transition: 250ms, cubic-bezier(0.42, 0, 1, 1), all;
  position: relative;
  display: block;
}
/* line 32, ../sass/partials/_fl-index.sass */
.notifications .alert.ng-enter.ng-enter-active, .notifications .alert.ng-leave {
  opacity: 1;
  left: 0;
  height: 30px;
}
/* line 37, ../sass/partials/_fl-index.sass */
.notifications .alert.ng-leave.ng-leave-active, .notifications .alert.ng-enter {
  opacity: 0;
  left: -50px;
  height: 0px;
}

/* line 43, ../sass/partials/_fl-index.sass */
#page-main {
  min-height: 100%;
  position: relative;
}
/* line 48, ../sass/partials/_fl-index.sass */
#page-main #page-ui-view {
  padding-bottom: 50px;
}
/* line 51, ../sass/partials/_fl-index.sass */
#page-main .page-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
}
/* line 53, ../sass/partials/_fl-index.sass */
#page-main .page-footer.navbar-default {
  border-top: 1px #e7e7e7 solid;
}
/* line 56, ../sass/partials/_fl-index.sass */
#page-main .page-footer ul, #page-main .page-footer ol {
  padding: 0;
  margin: 0;
}
/* line 64, ../sass/partials/_fl-index.sass */
#page-main .page-footer .footer-links {
  text-align: center;
}
/* line 67, ../sass/partials/_fl-index.sass */
#page-main .page-footer .footer-links > li {
  float: none;
  display: inline-block;
}
/* line 71, ../sass/partials/_fl-index.sass */
#page-main .page-footer .footer-links > li > a:hover, #page-main .page-footer .footer-links > li > a:focus {
  color: #333333;
  text-decoration: none;
  background-color: transparent;
}
/* line 76, ../sass/partials/_fl-index.sass */
#page-main .page-footer .footer-links > li.delimiter:before {
  color: #777777;
  content: "·";
}
/* line 80, ../sass/partials/_fl-index.sass */
#page-main .page-footer .footer-links > li.text, #page-main .page-footer .footer-links > li > a {
  color: #777777;
  padding: 15px 15px;
}
/* line 85, ../sass/partials/_fl-index.sass */
#page-main .page-footer .navbar {
  border-radius: 0;
  margin-bottom: 0;
  bottom: 0;
  border-width: 1px 0 0;
}

/* line 2, ../sass/partials/_fl-base.sass */
.hidden-xxs-table-cell {
  display: table-cell !important;
}

/* line 5, ../sass/partials/_fl-base.sass */
.hidden-xs-inline {
  display: inline-block !important;
}

/* line 8, ../sass/partials/_fl-base.sass */
.visible-xs-inline {
  display: none !important;
}

@media screen and (max-width: 767px) {
  /* line 12, ../sass/partials/_fl-base.sass */
  .visible-xs-inline {
    display: inline-block !important;
  }

  /* line 15, ../sass/partials/_fl-base.sass */
  .hidden-xs-inline {
    display: none !important;
  }
}
@media screen and (max-width: 320px) {
  /* line 19, ../sass/partials/_fl-base.sass */
  .hidden-xxs-table-cell {
    display: none !important;
  }
}
/* line 23, ../sass/partials/_fl-base.sass */
.clickable {
  cursor: pointer;
}

/* line 30, ../sass/partials/_fl-base.sass */
.badge.danger {
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #f41818), color-stop(100%, #cf0404));
  background-image: -webkit-radial-gradient(top, #f41818 0%, #cf0404 100%);
  background-image: -moz-radial-gradient(top, #f41818 0%, #cf0404 100%);
  background-image: -o-radial-gradient(top, #f41818 0%, #cf0404 100%);
  background-image: radial-gradient(top, #f41818 0%, #cf0404 100%);
  box-shadow: 1px 1px 3px #9c9c9c;
}

/* line 42, ../sass/partials/_fl-base.sass */
.profile_16 {
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
}

/* line 42, ../sass/partials/_fl-base.sass */
.profile_24 {
  min-width: 24px;
  min-height: 24px;
  width: 24px;
  height: 24px;
}

/* line 42, ../sass/partials/_fl-base.sass */
.profile_36 {
  min-width: 36px;
  min-height: 36px;
  width: 36px;
  height: 36px;
}

/* line 42, ../sass/partials/_fl-base.sass */
.profile_48 {
  min-width: 48px;
  min-height: 48px;
  width: 48px;
  height: 48px;
}

/* line 42, ../sass/partials/_fl-base.sass */
.profile_56 {
  min-width: 56px;
  min-height: 56px;
  width: 56px;
  height: 56px;
}

/* line 42, ../sass/partials/_fl-base.sass */
.profile_64 {
  min-width: 64px;
  min-height: 64px;
  width: 64px;
  height: 64px;
}

/* line 42, ../sass/partials/_fl-base.sass */
.profile_128 {
  min-width: 128px;
  min-height: 128px;
  width: 128px;
  height: 128px;
}

/* line 2, ../sass/partials/_thenounproject.sass */
.icon-bench:before {
  position: relative;
  top: 0.2em;
  left: 0.1em;
}

/* line 7, ../sass/partials/_thenounproject.sass */
.icon-player:before {
  position: relative;
  font-size: 15px;
  left: -6px;
  top: -10px;
}

/* line 13, ../sass/partials/_thenounproject.sass */
.icon-registration:before {
  position: relative;
  top: 2px;
  font-size: smaller;
}

/* line 18, ../sass/partials/_thenounproject.sass */
.icon-field-o:before, .icon-field:before {
  position: relative;
  top: 1px;
}
