/* line 8, ../sass/main.sass */
#navbar-top .navbar-right {
  padding-right: 10px;
}

/* line 11, ../sass/main.sass */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* line 19, ../sass/main.sass */
.profile_16 {
  width: 16px;
  height: 16px;
}

/* line 19, ../sass/main.sass */
.profile_24 {
  width: 24px;
  height: 24px;
}

/* line 23, ../sass/main.sass */
.list-group-item .home, .list-group-item .away {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 95px;
  display: inline-block;
  vertical-align: middle;
}
/* line 30, ../sass/main.sass */
.list-group-item .away {
  text-align: right;
}
/* line 32, ../sass/main.sass */
.list-group-item.active {
  background-color: whitesmoke;
}

/* line 35, ../sass/main.sass */
.pagination-sm > li > a {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}

/* line 40, ../sass/main.sass */
.leagueEdit .players {
  border: 2px dashed blue;
  margin: 10px 10px 0 0;
  padding: 5px;
}
/* line 45, ../sass/main.sass */
.leagueEdit .player {
  border: 1px solid black;
  cursor: move;
}
/* line 49, ../sass/main.sass */
.leagueEdit .playerPlaceholder {
  border: 4px dashed #cfcfcf;
  opacity: 0.8;
  text-align: center;
  vertical-align: middle;
}
/* line 55, ../sass/main.sass */
.leagueEdit .playerPlaceholder:before {
  color: #cfcfcf;
  content: "HERE";
}
