@charset "UTF-8";
/* line 11, ../sass/main.sass */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* line 14, ../sass/main.sass */
.dropdown-toggle.dropdown-24 {
  padding: 13px 13px;
}

/* line 22, ../sass/main.sass */
.profile_16 {
  width: 16px;
  height: 16px;
}

/* line 22, ../sass/main.sass */
.profile_24 {
  width: 24px;
  height: 24px;
}

/* line 22, ../sass/main.sass */
.profile_48 {
  width: 48px;
  height: 48px;
}

/* line 22, ../sass/main.sass */
.profile_64 {
  width: 64px;
  height: 64px;
}

/* line 26, ../sass/main.sass */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 32, ../sass/main.sass */
.hidden-xs-inline {
  display: inline-block !important;
}

/* line 35, ../sass/main.sass */
.visible-xs-inline {
  display: none !important;
}

@media screen and (max-width: 767px) {
  /* line 39, ../sass/main.sass */
  .visible-xs-inline {
    display: inline-block !important;
  }

  /* line 42, ../sass/main.sass */
  .hidden-xs-inline {
    display: none !important;
  }
}
/* line 45, ../sass/main.sass */
#page-main {
  min-height: 100%;
  position: relative;
}
/* line 50, ../sass/main.sass */
#page-main #page-ui-view {
  padding-bottom: 50px;
}
/* line 54, ../sass/main.sass */
#page-main .page-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
}
/* line 56, ../sass/main.sass */
#page-main .page-footer.navbar-default {
  border-top: 1px #e7e7e7 solid;
}
/* line 59, ../sass/main.sass */
#page-main .page-footer ul, #page-main .page-footer ol {
  -webkit-padding-start: 0;
  -webkit-margin-after: 0;
}
/* line 68, ../sass/main.sass */
#page-main .page-footer .footer-links > li {
  float: none;
  display: inline-block;
}
/* line 72, ../sass/main.sass */
#page-main .page-footer .footer-links > li > a:hover, #page-main .page-footer .footer-links > li > a:focus {
  color: #333333;
  text-decoration: none;
  background-color: transparent;
}
/* line 77, ../sass/main.sass */
#page-main .page-footer .footer-links > li.delimiter:before {
  color: #777777;
  content: "·";
}
/* line 81, ../sass/main.sass */
#page-main .page-footer .footer-links > li.text, #page-main .page-footer .footer-links > li > a {
  color: #777777;
  padding: 15px 15px;
}
/* line 86, ../sass/main.sass */
#page-main .page-footer .navbar {
  border-radius: 0;
  margin-bottom: 0;
  bottom: 0;
  border-width: 1px 0 0;
}

/* line 92, ../sass/main.sass */
.navbar-center {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
/* line 96, ../sass/main.sass */
.navbar-center > li {
  color: #777777;
  float: none;
  display: inline-block;
}
/* line 101, ../sass/main.sass */
.navbar-center > li.delimiter:before {
  content: "·";
}
/* line 104, ../sass/main.sass */
.navbar-center > li.text {
  padding: 10px 15px;
}

/* line 107, ../sass/main.sass */
.icon-bench:before {
  position: relative;
  top: 0.2em;
  left: 0.1em;
}

/* line 112, ../sass/main.sass */
.icon-player:before {
  position: relative;
  font-size: 15px;
  left: -6px;
  top: -10px;
}

/* line 118, ../sass/main.sass */
.icon-registration:before {
  position: relative;
  top: 2px;
  font-size: smaller;
}

/* line 123, ../sass/main.sass */
.icon-field-o:before, .icon-field:before {
  position: relative;
  left: -3px;
  top: 1px;
}

/* line 129, ../sass/main.sass */
.list-group-item .home {
  width: 30%;
}
/* line 132, ../sass/main.sass */
.list-group-item .home, .list-group-item .away {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}
/* line 138, ../sass/main.sass */
.list-group-item .away {
  text-align: right;
  width: 95px;
}
/* line 142, ../sass/main.sass */
.list-group-item .score {
  position: absolute;
  left: 0;
  right: 0;
  display: inline-block;
}
/* line 147, ../sass/main.sass */
.list-group-item.active {
  background-color: whitesmoke;
}
/* line 149, ../sass/main.sass */
.list-group-item .buttons {
  padding-top: 4px;
  margin-top: 10px;
  border-top: 1px #eeeeee solid;
}

/* line 154, ../sass/main.sass */
.pagination-sm > li > a {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}

/* line 159, ../sass/main.sass */
.leagueEdit .players {
  border-radius: 5px;
  border: 2px dashed #868686;
  margin: 10px 10px 0 0;
  padding: 5px;
}
/* line 165, ../sass/main.sass */
.leagueEdit .player {
  cursor: move;
  padding: 10px 15px;
}
/* line 169, ../sass/main.sass */
.leagueEdit .player-placeholder {
  padding: 5px 15px;
  border: 4px dashed #cfcfcf;
  opacity: 0.8;
  text-align: center;
  vertical-align: middle;
}
/* line 176, ../sass/main.sass */
.leagueEdit .player-placeholder:before {
  color: #cfcfcf;
  content: "DROP HERE";
}

/* line 182, ../sass/main.sass */
.table.fixtures-table tbody tr:first-child {
  border-bottom-color: #3291f8;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
/* line 186, ../sass/main.sass */
.table.fixtures-table tbody tr:last-child {
  border-top-style: double;
  border-top-color: #e97373;
}
/* line 190, ../sass/main.sass */
.table.fixtures-table .red {
  color: red;
}
/* line 193, ../sass/main.sass */
.table.fixtures-table .green {
  color: green;
}
