@font-face {
	font-family: 'nounproject';
	src:url('../fonts/nounproject.eot?-2q9k');
	src:url('../fonts/nounproject.eot?#iefix-2q9k') format('embedded-opentype'),
		url('../fonts/nounproject.woff?-2q9k') format('woff'),
		url('../fonts/nounproject.ttf?-2q9k') format('truetype'),
		url('../fonts/nounproject.svg?-2q9k#nounproject') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'nounproject';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-player2:before {
	content: "\e600";
}
.icon-trophy:before {
	content: "\e601";
}
.icon-field:before {
	content: "\e602";
}
.icon-bench:before {
	content: "\e603";
	position: relative;
	top: 5px;
	left: 3px;
}
.icon-player:before {
	content: "\e604";
	position: relative;
	font-size: 15px;
	left: -6px;
	top: -10px;
}
