@font-face {
	font-family: 'thenounproject';
	src:url('../fonts/thenounproject.eot?10y4r8');
	src:url('../fonts/thenounproject.eot?#iefix10y4r8') format('embedded-opentype'),
		url('../fonts/thenounproject.woff?10y4r8') format('woff'),
		url('../fonts/thenounproject.ttf?10y4r8') format('truetype'),
		url('../fonts/thenounproject.svg?10y4r8#thenounproject') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	display: inline-block;
	font-family: 'thenounproject';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-player2:before {
	content: "\e600";
}
.icon-trophy:before {
	content: "\e601";
}
.icon-player:before {
	content: "\e604";
}
.icon-goal:before {
	content: "\e605";
}
.icon-goalkeeper:before {
	content: "\e606";
}
.icon-god:before {
	content: "\e607";
}
.icon-registration:before {
	content: "\e608";
}
.icon-field:before {
	content: "\e602";
}
.icon-bench:before {
	content: "\e603";
}
.icon-field-o:before {
	content: "\e609";
}
