<!doctype html>
<html lang="en" ng-app="fire-league">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Builds soccer leagues tables</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css"/>
  <link rel="stylesheet" href="css/sb-admin.custom.css"/>
  <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css"/>
</head>
<body ng-cloak ng-controller="LoginCtrl">
  <div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="browse">FireLeague <small>beta</small></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-top-links navbar-right" ng-cloak>
        <li ng-show="loading">
          <a><i class="fa fa-cog fa-spin fa-lg fa-fw"></i></a>
        </li>
        <li class="dropdown" ng-show="$root.auth.user && $state.includes('network')"> 
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-cog fa-lg fa-fw"></i> <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li>
                <a ui-sref="network.edit({network: $state.params.network}})"><i class="fa fa-edit fa-fw"></i> Edit Network</a>
              </li> 
            <li>
                <a ui-sref="network.delete({network: $state.params.network})"><i class="fa fa-times-circle fa-fw"></i> Delete Network</a>
            </li>
          </ul>
        </li>
        <li class="dropdown" ng-show="$root.auth.user">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <img class="profile_24" ng-src="http://graph.facebook.com/{{$root.auth.user.username}}/picture?type=square&width=16&height=16">  <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
              <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
              </li>
              <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
              </li>
              <li class="divider"></li>
              <li><a href="" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
              </li>
          </ul>
          <!-- /.dropdown-user -->
        </li>
        <li ng-hide="loading">
          <a href="" ng-hide="$root.auth.user" ng-click="openLoginModal()" ng-enabled="facebookReady">
            <i class="fa fa-sign-in fa-fw"></i> Login
          </a>
        </li>
      </ul>
    </nav>

    <nav class="navbar-default navbar-static-side" role="navigation">
      <div class="sidebar-collapse" style="height: 0px;" metis-menu-collapse="768">
          <ul class="nav" id="side-menu" metis-menu>
              <li>
                  <a ui-sref="browse"><i class="fa fa-sitemap fa-fw"></i> Networks</a>
              </li>
              <li ng-show="$root.auth.user">
                  <a href="#"><i class="fa fa-copy fa-fw"></i> Create<span class="fa arrow"></span></a>
                  <ul class="nav nav-second-level collapse" style="height: 0px;">
                      <li>
                          <a ui-sref="networkCreate">Network</a>
                      </li>
                      <li ng-show="$state.includes('network')">
                          <a ui-sref="leagueCreate({network: $state.params.network})">League</a>
                      </li>
                  </ul>
                  <!-- /.nav-second-level -->
              </li>
              <li ng-show="$root.auth.user">
                <a ui-sref="favorites"><i class="fa fa-star fa-fw"></i> Favorites</a>
              </li>
          </ul>
          <!-- /#side-menu -->
      </div>
      <!-- /.sidebar-collapse -->
    </nav>

    <div ui-view id="page-wrapper" autoscroll="false">
    </div>
  </div> <!-- /#wrapper --> 

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <!--
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="//code.angularjs.org/1.2.8/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.9.0/ui-bootstrap-tpls.min.js"></script>
  <script src="//cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
-->
<!--
  <script src="lib/underscore/underscore-min.js"></script>
  <script src="lib/jquery/jquery-2.0.3.min.js"></script>
  <script src="lib/bootstrap/bootstrap.min.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular/ui/ui-bootstrap-0.9.0.min.js"></script>
-->
<script src="lib/underscore/lodash.min.js"></script>
<script src="lib/underscore/underscore.string.min.js"></script>
<script src="lib/jquery/jquery-2.0.3.min.js"></script> <!-- used by mentisMenu, sortable -->
<script src="lib/bootstrap/bootstrap.min.js"></script> <!-- used by mentisMenu -->
<script src="lib/jquery/jquery-ui-1.10.4.custom.min.js"></script> <!-- used by sortable -->
<script src="lib/string/sprintf.js"></script>

<script src="//static.firebase.com/v0/firebase.js"></script>
<script src="//cdn.firebase.com/v0/firebase-simple-login.js"></script>

<!--
<script src='lib/firebase/firebase.js'></script>
<script src='lib/firebase/firebase-simple-login.js'></script>
-->

<script src="lib/angular/angular.js"></script>
<!--
<script src="lib/angular/angular-route.js"></script>
-->
<script src="lib/angular/ui/angular-ui-router.js"></script>
<script src="lib/angular/ui/ui-bootstrap-0.10.0.js"></script>
<script src="lib/jquery/sortable.js"></script>
<script src="lib/jquery/plugins/jquery.metisMenu.js"></script>
<script src="lib/firebase/angularfire.js"></script>
<script src="lib/facebook/angular-facebook.js"></script>

<!--
<script src="lib/angular/ui/ui-bootstrap-0.9.0.js"></script>
<script src="lib/angular/ui/anguler-ui-router.js"></script>
-->
<script src="js/app.js"></script>
<script src="js/config.js"></script>
<script src="js/controllers/LoginCtrl.js"></script>  
<script src="js/controllers/NetworkBrowseCtrl.js"></script>  
<script src="js/controllers/NetworkCreateCtrl.js"></script>  
<script src="js/controllers/NetworkDeleteCtrl.js"></script>  
<script src="js/controllers/NetworkLeaguesCtrl.js"></script>  
<script src="js/controllers/LeagueCreateCtrl.js"></script>  
<script src="js/controllers/LeagueCtrl.js"></script>  
<script src="js/services/firebaseHelper.js"></script>  
<script src="js/services/leagueService.js"></script>  
<script src="js/directives/metisMenu.js"></script>  
</body>
</html>
