<!doctype html>
<html lang="en" ng-app="fire-league">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Builds soccer leagues tables</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css"/>
  <link rel="stylesheet" href="css/main.css"/>
  <link rel="stylesheet" href="css/thenounproject.css"/>
  <link rel="stylesheet" href="css/social-buttons.css"/>
</head>
<body ng-cloak ng-controller="LoginCtrl" gg-analytics>
  <div id="page-main">

  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="browse">FireLeague <small>alpha</small></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div collapse="navCollapsed" class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li ui-sref-active="active">
            <a ui-sref="browse"><i class="icon icon-trophy fa-lg fa-fw"></i> Leagues</a>
          </li>
          <li class="dropdown" ui-sref-active="active" ng-if="$root.auth.user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil fa-fw"></i> Create <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a ui-sref="leagueCreate"><i class="icon icon-trophy fa-fw"></i> League</a>
              </li>
              <li ng-show="$state.params.league">
                  <a ui-sref="seasonCreate({league: $state.params.league})"><i class="icon icon-field-o fa-fw"></i> Season</a>
              </li>
            </ul>
          </li>
          <li ui-sref-active="active" class="dropdown" ng-if="$root.auth.user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-star fa-fw"></i> Favorites <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li ui-sref-active="active" role="presentation" ng-class="{'dropdown-header':leagueObj !== true}" ng-repeat-start="(league, leagueObj) in favorites.leagues">
                <span ng-if="leagueObj !== true"><i class="icon icon-trophy fa-lg"></i> {{league}}</span>
                <a ng-if="!(leagueObj !== true)" ui-sref="league({league: league})"><i class="icon icon-trophy fa-lg fa-fw"></i> {{league}}</a>
              </li>
              <li ui-sref-active="active" ng-repeat="(season, value) in leagueObj.seasons">
                <!-- state ref to child dashboard state till it gets fixed: https://github.com/angular-ui/ui-router/issues/948 -->
                <a ui-sref="season.dashboard({league: league, season: season})"><i class="fa fa-caret-right fa-fw"></i> {{season}}</a>
              </li>
              <li ng-repeat-end ng-if="!$last" class="divider"></li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right" ng-cloak>
          <li ng-show="loading">
            <a><i class="fa-lg fa-fw" fl-spinner></i></a>
          </li>
          <li class="dropdown" ng-if="$root.auth.user">
            <a class="dropdown-toggle dropdown-24" data-toggle="dropdown" href="#">
              <fb-avatar size="24" id="$root.auth.user.id"></fb-avatar><span> <span class="visible-xs-inline"> {{$root.auth.user.name}}</span></span> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li><a href="" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Sign Out</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
          </li>
          <li ng-hide="loading || $root.auth.user">
            <a href="" ng-click="openLoginModal()" ng-enabled="facebookReady">
              <i class="fa fa-sign-in fa-fw"></i> Sign In
            </a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div id="page-ui-view" ui-view class="container" autoscroll="false">
  </div>

  <div class="notifications">
    <div class="alert alert-{{notification.type}}" ng-repeat="notification in $root.notifications">
      <strong>{{notification.message}}</strong>
    </div>
  </div>

  <footer class="page-footer navbar-default"> <!-- duplicate navbar-default to color background when line overflow-->
    <div class="container navbar-default">
    <ul class="footer-links">
      <li class="delimiter"></li>
      <li class="text"><small>Currently v<span fl-app-version></span></small></li>
      <li class="delimiter"></li>
      <li><a target="_blank" href="https://github.com/peledkfir/fire-league" class="btn btn-xs btn-link"><i class="fa fa-github"></i> Github</a></li>
      <li class="delimiter"></li>
      <li><a ui-sref="about" class="btn btn-xs btn-link">About</a></li>
      <li class="delimiter"></li>
      <li><a target="_blank" href="https://github.com/peledkfir/fire-league/issues?state=open" class="btn btn-xs btn-link">Issues</a></li>
      <li class="delimiter"></li>
    </ul>
    </div>
  </footer>

  </div>

 
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.string/2.3.3/underscore.string.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> <!-- used by sortable, cloudinary -->
<script src="lib/jquery/jquery-ui-1.10.4.custom.min.js"></script> <!-- used by sortable -->
<script src="lib/string/sprintf.js"></script>

<script src="//cdn.firebase.com/js/client/1.0.15/firebase.js"></script>
<script src="//cdn.firebase.com/js/simple-login/1.4.1/firebase-simple-login.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>

<script src="lib/angular-ui/angular-ui-router.min.js"></script>
<script src="lib/angular-ui/ui-bootstrap-0.10.0.min.js"></script>
<script src="lib/jquery/sortable.min.js"></script>
<script src="//cdn.firebase.com/libs/angularfire/0.7.1/angularfire.js"></script>
<script src="lib/facebook/angular-facebook.js"></script>
<script src="lib/cloudinary/load-image.min.js"></script>
<script src="lib/cloudinary/canvas-to-blob.min.js"></script>
<script src="lib/cloudinary/angular.cloudinary.js"></script>
<script src="lib/cloudinary/jquery.fileupload.js"></script>
<script src="lib/cloudinary/jquery.cloudinary.js"></script>
<script src="lib/cloudinary/jquery.fileupload-process.js"></script>
<script src="lib/cloudinary/jquery.fileupload-image.js"></script>
<script src="lib/cloudinary/jquery.fileupload-validate.js"></script>
<script src="lib/cloudinary/jquery.fileupload-angular.js"></script>
<script src="lib/jquery/jquery.knob.js"></script>
<script src="lib/angular-ui/angular-knob.js"></script>
<script src="js/app.js"></script>
<script src="js/config.js"></script>
<script src="js/controllers/LoginCtrl.js"></script>  
<script src="js/controllers/LoginModalCtrl.js"></script>  
<script src="js/controllers/LeagueBrowseCtrl.js"></script>  
<script src="js/controllers/LeagueCreateCtrl.js"></script>  
<script src="js/controllers/LeagueEditCtrl.js"></script>  
<script src="js/controllers/LeagueDeleteCtrl.js"></script>  
<script src="js/controllers/LeagueSeasonsCtrl.js"></script>  
<script src="js/controllers/SeasonCreateCtrl.js"></script>  
<script src="js/controllers/SeasonCtrl.js"></script>  
<script src="js/controllers/MatchEditModalCtrl.js"></script>  
<script src="js/controllers/MatchImagesModalCtrl.js"></script>  
<script src="js/services/firebaseHelper.js"></script>  
<script src="js/services/leagueService.js"></script>  
<script src="js/services/notificationService.js"></script>  
<script src="js/services/cloudinaryHelper.js"></script>  
<script src="js/directives/leagueDirectives.js"></script>  
<script src="js/directives/filesUploadDirectives.js"></script>  
<script src="js/directives/facebookDirectives.js"></script>  
<script src="js/directives/googleDirectives.js"></script>  
<script src="js/filters/leagueFilters.js"></script>  
</body>
</html>
