@import compass/layout
@import compass/css3/transition

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
	display: none !important

.dropdown-toggle.dropdown-24
	padding: 13px 13px

html, body
	margin: 0
	padding: 0
	height: 100%

.dashboard-big
	position: absolute
	width: 100%
	padding: 15px

.notifications
	position: fixed
	top: 80px
	left: -3px
	opacity: 0.8

	.alert
		&.ng-enter, &.ng-leave
			+transition(250ms, cubic-bezier(0.420, 0.000, 1.000, 1.000), all)
			position: relative
			display: block 
		 
		&.ng-enter.ng-enter-active, &.ng-leave 
			opacity: 1
			left: 0
			height: 30px
		 
		&.ng-leave.ng-leave-active, &.ng-enter 
			opacity: 0
			left: -50px
			height: 0px


#page-main
	$footerHeight: 50px
	min-height: 100%
	position: relative

	#page-ui-view
		padding-bottom: $footerHeight

	.page-footer

		&.navbar-default
			border-top: 1px #e7e7e7 solid

		ul, ol
			-webkit-padding-start: 0
			-webkit-margin-after: 0

		+stretch-x
		bottom: 0
		height: $footerHeight

		.footer-links		
			text-align: center
			
			&>li
				float: none
				display: inline-block

				&>a:hover, &>a:focus 
					color: #333
					text-decoration: none
					background-color: transparent
				
				&.delimiter:before
					color: #777
					content: "·"
		
				&.text, &>a
					color: #777
					padding: 15px 15px


		.navbar
			border-radius: 0
			margin-bottom: 0
			bottom: 0
			border-width: 1px 0 0
