@import compass/css3/user-interface

.progress-knob
	margin: 0 auto
	
	div
		position: absolute

//
// player matches
//
.list-group-item
	.img-versus
		margin: 0 5px

	.match-current-cursor
		position: absolute
		top: 16px
		left: 7px

// 
// match preview
// 
.list-group-item
	.home, .away
		position: relative
		padding: 3px
	
		.player-name
			width: 34%
			overflow: hidden
			white-space: nowrap
			text-overflow: ellipsis
			display: inline-block
			vertical-align: middle
			padding-top: 4px

	.home
		.player-name
			padding-left: 2px
	.away
		.player-name
			text-align: right
			padding-right: 2px
			
	.score
		position: absolute
		left: 0
		right: 0
		top: 5px
		display: inline-block

		&.visible-xs-inline
			bottom: 0

	&.active
		background-color: #f5f5f5

	.buttons
		padding-top: 4px
		margin-top: 10px
		border-top: 1px #EEE solid

		.pull-right
			margin-top: 3px

	&.list-group-item-info .buttons
		border-top: 1px #94bacc solid

.pagination-sm>li>a
	+user-select(none)
	cursor: default

//
// season navigation links
//
.season-links
	text-align: center
	padding: 0
	margin: 0

	li
		position: relative
		display: inline-block
		vertical-align: top
		margin: 0 10px

		a
			color: black

		.badge
			position: absolute
			bottom: 17px
			right: -3px

$firstPlayerColor: #3291F8
$lastPlayerColor: rgb(233, 115, 115)

//
// table fixtures
//
.table.fixtures-table
	tbody
		tr:first-child
			border-bottom-color: $firstPlayerColor
			border-bottom-style: solid
			border-bottom-width: 2px
		tr:last-child
			border-top-style: double
			border-top-color: $lastPlayerColor

	.red
		color: red

	.green
		color: green

//
// player competition table
//
.table.competition-table
	th, td
		text-align: center
	td:last-child
		.btn
			padding: 0
		text-align: left
	.red-o
		background-color: $lastPlayerColor
		color: white
	.blue-o
		background-color: $firstPlayerColor
		color: white
	.red
		color: red

	.green
		color: green

//
// match edit
//
.match-modal
	.hidden-xs .vs 
		font-size: 150%

	.hidden-xs input[type=number]
		width: 75px
		font-size: 230%

	input[type=number]
		width: 48px
		font-size: 130%

	.vs
		line-height: 10

	.thumbnail
		display: inline


//
// season edit
//
.seasonEdit
	.players
		border-radius: 5px
		border: 2px dashed rgb(134,134,134)
		margin: 10px 10px 0 0
		padding: 5px

	.player
		cursor: move
		padding: 10px 15px

	.player-placeholder
		padding: 5px 15px
		border: 4px dashed #cfcfcf
		opacity: 0.8
		text-align: center
		vertical-align: middle

		&:before
			color: #cfcfcf
			content: "DROP HERE"

//
// upload photos
//

.upload-photos
	.preview
		float: left
		margin-right: 10px

	#photosDropZone
		&:before
			content: "DROP HERE"

		&.initializing
			&:before
				content: "LOADING.. PLEASE WAIT"
			opacity: 0.3

		padding: 35px 0
		border: 5px dashed #e5e5e5
		border-radius: 3px
		text-align: center
		text-transform: uppercase
		font-size: 16px
		font-weight: bold
		color: gray

		button
			margin-top: 10px
			text-transform: uppercase

		input
			display: none