@import compass
@import compass/layout
@import compass/css3/user-interface

//body
//	padding-top: 70px

//#navbar-top .navbar-right
//	padding-right: 10px

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
	display: none !important

.dropdown-toggle.dropdown-24
	padding: 13px 0

=square_size($size)
	width: #{$size}px
	height: #{$size}px

@each $size in (16, 24)
	.profile_#{$size}
		+square_size($size)

.list-group-item
	.home,.away
		overflow: hidden
		white-space: nowrap
		text-overflow: ellipsis
		width: 95px
		display: inline-block
		vertical-align: middle
	.away
		text-align: right
	&.active
		background-color: #f5f5f5

.pagination-sm>li>a
	+user-select(none)
	cursor: default

.leagueEdit
	.players
		border: 2px dashed blue
		margin: 10px 10px 0 0
		padding: 5px

	.player
		border: 1px solid black
		cursor: move

	.playerPlaceholder
		border: 4px dashed #cfcfcf
		opacity: 0.8
		text-align: center
		vertical-align: middle

		&:before
			color: #cfcfcf
			content: "HERE"