<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">About</div>
			<div class="panel-body">
			<p>Based on <a href="http://www.excelindo.com/sport/soccer-league-creator-template-for-excel.html" target="_blank">Excelindo</a></p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">Attributes</div>

			<ul class="list-group">
				<li class="list-group-item" ng-repeat="att in atts"><small>{{att}}</small></li>
			</ul>
		</div>
	</div>
</div>