<ol class="breadcrumb">
  <li><a ui-sref="browse">Networks</a></li>
  <li><a ui-sref="network({network: network})">{{network}}</a></li>
  <li class="active">Create</li>
</ol>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">New League in {{network}}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<br />
<div class="row">	
<form ng-submit="create()" class="leagueEdit">

	<fieldset>
		<label for="leagueName">League name:</label>
		<input id="leagueName" type="text" placeholder="Name your league.." ng-model="name" required>

		<div class="container">
			<div class="row">
				<div class="players col-md-4" ui-sortable="sortableOptions" ng-model="teams">
		  			<div class="player" ng-repeat="team in teams">{{$index + 1}} <fb-avatar size="24" id="team.id"></fb-avatar> {{team.name}}</div>
				</div>
				<div class="players col-md-4" ui-sortable="sortableOptions" ng-model="bench">
		  			<div class="player" ng-repeat="team1 in bench">{{$index + 1}} {{team1.name}}</div>
				</div>
			</div>
		</div>
	</fieldset>

	<div>
		<h2>Preview</h2>
		<div>
			<h3>Matches</h3>
			<tabset>
				<tab ng-repeat="round in leaguePreview.rounds">
					<tab-heading>{{round.number}}</tab-heading>
					<h2>Round {{round.number}}</h2>

		            <div class="col-md-12" ng-repeat="match in round.matches">
		              <div class="col-md-2">{{match.home.name}}</div>
		              <div class="col-md-1">-</div>
		              <div class="col-md-2">{{match.away.name}}</div>
		            </div>
				</tab>
			</tabset>
		</div>
	</div>

	<button type="submit" data-loading-text="Loading..." class="btn btn-primary">Save</button>
</form>
</div>