<div class="modal-header">
  <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="myModalLabel">Delete {{league}} league</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-lg-12">
      		Are you sure you want to delete '{{league}}' league?
      	</div>
    </div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-danger" ng-click="delete()" ng-class="{disabled: deleting}">Delete</button>
	<button type="button" class="btn btn-default" ng-click="dismiss()">Cancel</button>
</div>