<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="myModalLabel">Login</h4>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row">
      Currently we support using Facebook to login.
    </div>
    <div>
      <a href="" ng-click="login()">
        <img src="img/active_404.png">
      </a>
    </div>
    <div class="row">
      <small>WE WILL NEVER POST ANYTHING WITHOUT PERMISSION!</small>
    </div>
  </div>
</div>