<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="myModalLabel">Edit Match (Round {{match.round}})</h4>
</div>
<div class="modal-body match-modal">
  <form id="m{{match.matchIdx}}" ng-submit="save()">
    <div class="row form-group">
      <div class="col-md-5 text-center">
        <fb-avatar size="128" id="match.home.id" clazz="thumbnail"></fb-avatar>
        <p>{{match.home.name}}</p>
        <div><input type="number" min="0" max="99" ng-model="result.home"></div>
      </div>
      <div class="col-md-2 text-center" >
        <p class="vs">VS.</p>
      </div>
      <div class="col-md-5 text-center">
        <fb-avatar size="128" id="match.away.id" clazz="thumbnail"></fb-avatar>
        <p>{{match.away.name}}</p>
        <div><input type="number" min="0" max="99" ng-model="result.away"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div>
          <label>Screen Shots</label>
          <upload-photos service="uploadService" folder="folder" />
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <strong ng-if="uploadService.$scope.queue.length > 0 && (result.home == null || result.away == null)" class="text-danger">Saving without result will remove the images</strong>
  <span file-upload-progress="progress()" class="fade" ng-class="{ in: active() }">
    <knob knob-data="num" knob-options="{ 'readOnly': true, 'width': 18, 'height': 18, 'displayInput': false }"></knob>
  </span>
  <button type="submit" form="m{{match.matchIdx}}" class="btn btn-primary" ng-class="{ disabled: saving }">Save</button>
  <button type="button" class="btn btn-default" ng-click="cancel()" ng-class="{ disabled: saving }">Close</button>
</div>  