<ol class="breadcrumb">
  <li><a ui-sref="browse">Leagues</a></li>
  <li><a ui-sref="league({league: league})">{{league}}</a></li>
  <li class="active">Start a New Season</li>
</ol>

<div class="row">
	<div class="col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading"><i class="fa fa-fw fa-pencil"></i> Start a New Season</div>
			<div class="panel-body">
				<div class="text-center" ng-show="loading">
					<i class="fa fa-cog fa-spin fa-5x"></i>
				</div>
				<form ng-hide="loading" ng-submit="create()" class="seasonEdit">
					<div class="form-group">
						<label for="leagueName">League</label>
						<input id="leagueName" class="form-control" type="text" value="{{league}}" disabled>
					</div>
					<div class="form-group">
						<label for="seasonName">Season name</label>
						<input id="seasonName" class="form-control" type="text" ng-model="name" required>
					</div>

					<div class="form-group">
						<div class="row">
						<div class="col-md-5">
							<h3 class="text-center"><i class="icon icon-registration"></i> Playing</h3>
							<div class="players list-group" ui-sortable="sortableOptions" ng-model="teams">
				  				<div class="player list-group-item" ng-repeat="team in teams">
				  					{{$index + 1}} <fb-avatar size="24" id="team.id"></fb-avatar> {{team.name}}
				  					<span class="pull-right">
				  						<button type="button" tooltip="Bench" class="btn btn-default btn-xs" ng-click="benchPlayer($index)">
				  							<i class="icon icon-bench fa-lg"></i>    <i class="fa fa-angle-right"></i>
				  						</button>
			  						</span>
				  				</div>
							</div>
						</div>
						<div class="col-md-offset-2 col-md-5">
							<h3 class="text-center"><i class="icon icon-bench"></i> Bench</h3>
							<div class="players list-group" ui-sortable="sortableOptions" ng-model="bench">
				  				<div class="player list-group-item" ng-repeat="benched in bench"><fb-avatar size="24" id="benched.id"></fb-avatar> {{benched.name}}</div>
							</div>
						</div>
						</div>
					</div>
					
					<div class="form-group">
						<button type="submit" data-loading-text="Loading..." class="btn btn-primary">Save</button>
						<button type="button" ui-sref="league({league: league})" class="btn btn-default">Cancel</button>
					</div>
				</form>				
			</div>
		</div>
	</div>
	<div class="col-lg-4" ng-hide="loading">
		<div class="panel panel-default">
			<div class="panel-heading"><i class="fa fa-fw fa-eye"></i> Matches Preview</div>
			<div class="panel-body">
				<div class="text-center">
					<pagination total-items="seasonPreview.rounds.length" items-per-page="1" page="currPage" max-size="3" class="pagination-sm" boundary-links="true"></pagination>
				</div>

				<div class="list-group">
					<div class="list-group-item" ng-repeat="match in seasonPreview.rounds[currPage-1].matches">
			        	<span class="small"><fb-avatar size="24" id="match.home.id"></fb-avatar> <span class="home">{{match.home.name}}</span></span>
						<span class="score text-center">vs.</span>
						<span class="pull-right small"><span class="away">{{match.away.name}}</span> <fb-avatar size="24" id="match.away.id"></fb-avatar>
					</div>
				</div>

				<p>Total rounds: {{seasonPreview.rounds.length}}</p>
			</div>
		</div>
	</div>
</div>
