<ol class="breadcrumb">
  <li><a ui-sref="browse">Leagues</a></li>
  <li><a ui-sref="league({league: $state.params.league})">{{$state.params.league}}</a></li>
  <li>
  	<!-- state ref to child dashboard state till it gets fixed: https://github.com/angular-ui/ui-router/issues/948 -->
	<a ui-sref="season.dashboard({league: $state.params.league, season: $state.params.season})">{{$state.params.season}}</a></li>
  <li class="active">Edit</li>
</ol>

<div class="text-center" ng-show="loading < 0">
	<i class="fa-5x" fl-spinner></i>
</div>

<div class="row" ng-hide="loading < 0">
	<div class="col-lg-offset-2 col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading"><i class="fa fa-fw fa-edit"></i> Edit '{{$state.params.season}}' Season</div>
			<div class="panel-body">
				<form ng-hide="loading" ng-cloak ng-submit="save()">
					<div class="form-group">
						<div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="locked"> <i class="fa fa-lock"></i> Lock for updates
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
					    <label>Overwrite current match</label> <span class="text-muted small">effects when current round arrears the one you set here</span>
                        <select class="form-control" ng-model="roundOverwrite" ng-options="n * 1 for n in rounds">
                            <option value="">No overwrite</option>
                        </select>
					</div>
<!-- 					<div class="form-group">
						<button type="submit" data-loading-text="Saving..." class="btn btn-primary">Save</button>
 -->					  	<!-- state ref to child dashboard state till it gets fixed: https://github.com/angular-ui/ui-router/issues/948 -->
						<!--<button type="button" ui-sref="^" class="btn btn-default">Cancel</button>-->
<!-- 						<button type="button" ui-sref="season.dashboard({league: $state.params.league, season: $state.params.season})" class="btn btn-default">Cancel</button>
					</div>
 -->				</form>				
			</div>
		</div>
	</div>
</div>